body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #222222;
}

div {
    box-sizing: border-box;
}

header{
    background: url("../img/first-bg.jpg") no-repeat center top / cover;
    padding-bottom: 160px;
}

.container {
    max-width: 930px;
    margin: 0 auto;
}

.heading{
    margin: 0 auto;
}

.logo {
    margin-top: 41px;
}

nav {
    float: right;
    margin-top: 50px;
}

.menu {
    padding: 0;
    margin: 0;
    display: block;
}

.menu li {
    float: left;
    display: block;
    font-size: 14px;
    margin-right: 41px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.titlesFirst {
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 240px;
}

h1 {
    font-size: 75px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    margin: 15px;
}

.button{
    background: #fed136;
    color: #484543;
    border-radius: 3px;
    display: block;
    width: 240px;
    padding: 20px 0;
    margin: 50px auto 0 auto;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.title {
    padding-top: 115px;
}

.title h2 {
    font-size: 40px;
    font-width: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.title p {
    color: #777777;
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
}

.services {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

#services {
    padding-bottom: 120px;
}
.servicesItem {
    width: 33%;
    margin-right: 40px;
    text-align: center;
}

.servicesItem:last-child {
    margin-right: 0;
}

.servicesItem h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.servicesItem p {
    font-size: 14px;
    color: #777777;
    line-height: 1.5em;
}

.portfolio {
    background: #f7f7f7;
    padding-bottom: 120px;
}

.works {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.title {
    margin-bottom: 80px;
}
h4 {
    text-transform: uppercase;
    font-size: 25px;
    margin: 0;
}

h5 {
    font-size: 16px;
    text-transform: capitalize;
    margin: 0;
}

.about1 {
    display: flex;
    width: 66.67%;
}

.about3 {
    display: flex;
    width: 66.67%;
    margin-top: 5%;
}

.about2 {
    display: flex;
    width: 66.67%;
    margin-top: 5%;
    margin-left: 33.33%;
}

.about4 {
    display: flex;
    width: 66.67%;
    margin-top: 5%;
    margin-left: 33.33%;
}

.aboutTextEven {
    width: 50%;
    text-align: right;
}

.aboutTextOdd {
    width: 50%;
    text-align: left;
}

.about img {
    margin: 0 10%;
}

footer p {
    text-align: center;
    padding: 90px;
    font-size: 18px;
}

@media (max-width:1200px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width:992px) {
    .container {
        max-width: 750px;
    }


    .titlesFirst {
        font-size: 32px;
    }

    h1 {
        font-size: 60px;
    }

    .button {
        width: 220px;
        font-weight: bold;
        font-size: 16px;
    }

    .title h2 {
        font-size: 32px;
    }

    .about1 {
        display: flex;
        width: 80%;
    }

    .about3 {
        display: flex;
        width: 80%;
        margin-top: 5%;
    }

    .about2 {
        display: flex;
        width: 80%;
        margin-top: 5%;
        margin-left: 40%;
    }

    .about4 {
        display: flex;
        width: 80%;
        margin-top: 5%;
        margin-left: 40%;
    }

    .about img {
        margin: 0 5%;
    }
}
@media (max-width:767px) {
    .container {
        max-width: 550px;
    }

    .menu li {
        margin-right: 25px;
    }

    nav {
        align-items: center;
    }

    .titlesFirst {
        font-size: 24px;
    }

    h1 {
        font-size: 42px;
    }

    .button {
        width: 160px;
        font-weight: bold;
        font-size: 16px;
    }

    .title h2 {
        font-size: 32px;
    }

    .about1 {
        width: 100%;
    }

    .about3 {
        width: 100%;
    }

    .about2 {
        display: flex;
        width: 100%;
        margin-top: 5%;
        direction: rtl;
        margin-left: 0;
    }

    .about4 {
        display: flex;
        width: 100%;
        margin-top: 5%;
        direction: rtl;
        margin-left: 0;
    }

    .aboutTextOdd {
        width: 60%;
        text-align: right;
    }

    .aboutTextEven {
        width: 60%;
        text-align: right;
    }


@media (max-width:576px) {
    .container {
        max-width: none;
    }

    .heading {
        flex-direction: column;
    }

    .logo {
        margin: 10% auto;
    }
}

    nav {
        margin: 0 auto;
    }
    .menu li {
        margin-right: 10px;
        align-items: center;
    }

    .titlesFirst {
        font-size: 18px;
    }

    h1 {
        font-size: 30px;
    }

    .title h2 {
        font-size: 30px;
    }


    .services {
        flex-direction: column;
    }

    .servicesItem {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .works {
        flex-direction: column;
        width: max-content;
        margin: 0 auto;
    }
    .about1 {
        flex-direction: column;
    }

    .about3 {
        flex-direction: column;
    }

    .about2 {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin-top: 5%;
    }

    .about4 {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin-top: 5%;
    }


    .aboutTextOdd {
        width: 100%;
        text-align: center;
        padding: 2% 2%;
    }

    .aboutTextEven {
        width: 100%;
        text-align: center;
        padding: 2% 2%;
    }

    .about img {
        margin: 0 auto;
    }

}
